@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: 33 33 33;
    --white: 255 255 255;
    --gray: 119 119 119;
    --background: 180 33% 98%;
  }
}

@layer base {
  html,
  body {
    height: 100dvh;
  }
}

@layer base {
  h1 {
    @apply text-black text-2xl md:text-[28px] font-bold;
  }
  h2 {
    @apply text-black text-2xl font-bold;
  }
  h3 {
    @apply text-black text-xl font-bold;
  }
  p,
  .paragraph,
  a,
  .link {
    @apply text-black text-xl font-medium;
  }
  a,
  .link {
    @apply underline hover:scale-[1.01] transition;
  }
}

@layer components {
  .home-page {
    @apply flex items-center gap-8 justify-center bg-background px-4 sm:px-8 h-full overflow-hidden;
  }
}
